@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}



#top {
    position: fixed;
    background-color: #fff;
}

#top__ad {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 66px;
}

#ad__speaker {
    width: 31px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

#ad__speaker>img {
    width: 100%;
}

#top__ad_desc {
    margin-right: 10px;
    color: #fff;
    line-height: 19px;
    font-size: 16px;
    font-weight: 600;
}

#top__ad>span {
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.2) 0px 1px 0px;
    background-color: #fff;
}

#_nav_left,
#_nav_right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 10px;
}

#_nav_left>#logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#_nav_left>#logo>img {
    width: 100%;
    cursor: pointer;
}

.drp_dwn {
    width: 10px;
}

span {
    margin-left: 10px;
}

#home>a,
#products>h4 {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    opacity: 0.9;
    position: relative;
}

#tollfree>p {
    font-size: 10px;
    font-weight: 400;
    color: #b7b7b7;
}

#tollfree>h4 {
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 16px;
    opacity: 0.9;
}

#tel_p,
#cart_img {
    width: 20px;
}

#cart,
#jobseeker {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 16px;
    opacity: 0.9;
    text-align: center;
    cursor: pointer;
}

#jobseeker>span>img,
#jobseeker>span {
    width: 17px;
    color: #1e709b;
}

/* Drop down of tollfree */
#tollfree {
    position: relative;
}

#tollfree:hover #drp_dwn_tollfree {
    display: block;


}

#drp_dwn_tollfree {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    right: 16%;
    width: 350px;
    display: none;
    cursor: pointer;
    z-index: 10000;

}

#drp_dwn_tollfree>img {
    width: 100%;
}


/* Dropdown for products */

#products:hover #drp_dwn_prod {
    display: block;
}

#products {
    padding: 12px 5px;
}

#drp_dwn_prod {
    position: absolute;
    width: 330px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    display: none;
    z-index: 10000;
    background-color: #fff;
}

#drp_dwn_prod>li {
    list-style: none;
    color: #000000;
    padding: 10px 10px;
}

#drp_dwn_prod>li:hover {
    background-color: #95959557;
}

/* styling first section of body content */

._sec {
    width: 70%;
    display: flex;
    margin-top: 3%;
    margin: auto;
    padding-top: 3%;
}

#_f_s_left {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: -15px;
}



.image_box {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_box>img {
    width: 100%;
    height: 40vh;
}

#_f_s_right {
    width: 40%;
    border: 0.8px solid #a7a7a793;
}

#rght_top {
    display: flex;
    gap: 40px;
    height: 70px;
    border: 1px solid #a7a7a793;
    justify-content: first baseline;
    padding-left: 20px;
}

#rght_top>p {
    height: 100%;
    padding-top: 10%;
    cursor: pointer;

}

#rght_top>p:first-child {
    border-bottom: 2px solid #ed055a;
}

#rght_top+p {
    margin-top: 5px;
    padding-left: 20px;
    margin-bottom: 10px;
}

#radio_btns {
    padding-left: 20px;
    width: 90%;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

#radio_btns>label {
    font-size: 14px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 16px;
    color: #7c8ba2;
    text-align: center;
    display: flex;
}

#radio_btns>label>input[type="radio"] {
    width: 1.45em;
    height: 1.45em;
}

.__top_head {
    line-height: 17px;
    font-size: 14px;
    color: #2870c1;
    font-weight: 800;
    padding-bottom: 10px;
}

.__mid_head {
    line-height: 40px;
    font-size: 28px;
    color: #414b5d;
    font-weight: 600;
}

.__btm_head {
    font-size: 22px;
    color: #8892a3;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.under_line {
    width: 90%;
    height: 0.4px;
    background-color: #b3b3b372;
    margin: 5px 0px;
}

._spans {
    margin-top: 5px;
    color: #8892a3;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

._spans>span {
    padding: 2px 0px 2px 8px;
}

._spans>span+span {
    border-left: 0.5px solid #9ba3b0cb;

}

.knw_mre {
    margin-top: 3%;
    Color: #2870c1;
    font-size: 14px;
    padding: 8px 11px;
    font-weight: 700;
    border: 1px solid #2870c1;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
}

.knw_mre:hover {
    background-color: #6da6e830;
}

#inputfield {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#inputfield>input {
    display: block;
    margin: auto;
    width: 80%;
    height: 30px;
    padding-left: 3px;
    font-size: 14px;
    font-weight: 400;
    color: #191b1f;
    text-transform: capitalize;
    border: none;
    outline: none;
    border-bottom: 0.3px solid #9ba3b0cb;
}

#captcha {
    width: 80%;
    border: 1px solid #9ba3b0cb;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#captcha>label {
    text-align: center;
    display: flex;
    gap: 10px;
}

#captcha>label>input[type="checkbox"] {
    width: 1.65em;
    height: 1.65em;
}

#clback {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 80%;
    padding: 7px 0px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #052df4;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}